body {
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
}

#sidebar-container {
    min-height: 100vh;
}

a:hover {
    text-decoration: none;
}

#sidebar-container .menu {
    width: 18rem;
}

#contenedor {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}
